
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
          
                <h1>About</h1>
                <hr style="border:3px solid green">
                <h3><b>Introduction to agriculture</b></h3>
                <p>Agriculture is the practice of cultivating plants and livestock in order to provide facilities the human beings. In the rise of the sedentary human lifestyle agriculture was the key development. The cultivation of plant and food grains began years ago in order to provide food to the city population. Agriculture is the main need for the people to live in the society. Agriculture is the main source of livelihood, it provides a source for the people to earn. Most of the population in the rural areas is dependent on agriculture as their main source of income.</p>
                <br>
                <p>Agriculture contributes significantly to a country’s GDP that is the Gross Domestic Production of a country. By the passing of time, there are a number of revolutions that take place in order to improve agriculture throughout the world or a country. If we talk about agriculture, India has witnessed a number of revolutions, that is, the green revolution, yellow revolution, blue revolution, agriculture. Agriculture affects the biodiversity of a country depending upon agricultural activities.</p>
                <p>The major agricultural products can be widely grouped into categories of food grains, fibers and raw materials.</p>
                <p>Foodgrains included the grains or cereals that have been used for eating. Fiber crops are completely Commercial, they can not be eaten and are completely grown for making money. Raw materials are that category of crops that are completely grown for use as raw materials in industries in order to prepare other items. </p>
                <p>This article provided to help you to learn the topic of agriculture about the history of farming, Commercial farming, primitive farming, its characteristics, types of Commercial Farming, intensive subsidence character, and so on. This will help you to get a clear view of agriculture. Let's have a look at it.</p>
                <h3><b>History of Agriculture</b></h3>
                <p>The development of agriculture enables human civilization to grow rapidly. This agriculture that was started by hunting and gathering has now reached the stage of cultivation and industrial form of agriculture also.</p>
                <p>The earliest food crop grown was rice which was followed by Moong, soya, azuki beans, etc. Sheep were domesticated in Mesopotamia first, cattle were domesticated in the areas of modern turkey, pig production emerged in Europe, East Asia, and South Asia. There are many hypotheses that are explained by the scholars for agriculture.</p>
                <p>Irrigations, crop cultivation, and fertilizers were the advanced form of agriculture that was developed in the 17th century. Modern agriculture has raised or encountered issues such as water pollution, biofeedback, genetically modified organisms, farm subsidies leading to alternative approaches such as that of organic movements.</p>
                <p>In the rise of sedentary human civilization agriculture is the key development. Farming of domestic species provided food surpluses that prompted people to live in cities. The history began some thousands of years ago. Pigs, sheep, and cattle were domesticated over 10000 years ago. Plants were cultivated independently in 11 regions of the world. Industrial agriculture based on a large scale in the 20th century came and dominated agriculture output. An estimated number of around 2 billion people still depend on subsistence agriculture.</p>
                <p>The major agricultural products are broadly grouped into foods, fibres, fuels, and raw materials. Over one-third of the world’s workers are employed in agriculture and after that to the service sector.</p>
                <h4><b>Commercial Farming</b></h4>
                <p>Commercial farming is when farmers grow crops or rear animals for economic activity. Commercial farming needs to be practised on a large scale with more efficiency. The goal of the farmer is to earn profits from farming, hence the production and area of production need to be on a larger scale. This practice is also known as agribusiness and is intensively taken up and practised. It has also opened its doors for a lucrative business venture.</p>
                <p>Due to the large production in commercial farming and despite its major benefits, it is a bit worrisome as it includes lots of fertilisers, pesticides, weed killers, and other sorts of chemicals.</p>
                <p>Crops in this type of agriculture are completely grown in order to provide the farmers with the benefit of money. These crops are not for you to consume but only for the sale.</p>
                <h4><b>Here are Some of the Characteristics of Commercial Agriculture:</b></h4>
                <ul>
                    <li>Large scale production</li>
                    <li>It is capital intensive</li>
                    <li>It uses high yielding varieties</li>
                    <li>It is produced mainly for sale purpose</li>
                    <li>Heavy machinery and human labour is used</li>
                    <li>Traditionally practised all year round.</li>
                </ul>
                <h4><b>Types of Commercial Farming include the Following:</b></h4>
                <ul>
                    <li>Dairy farming</li>
                    <li>Grain farming</li>
                    <li>Plantation farming</li>
                    <li>Plantation farming</li>
                    <li>Mixed crop and livestock farming</li>
                    <li>Fruit farming</li>
                </ul>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>



