
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginPage</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/hover-min.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <style>
        h1, h2, h3, h4, h5 {
            color: green;
            font-weight: bold;
        }

        #btnLogin {
            width: 100%;
            margin-top: 50px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div class="container-fluid bg-success" style="min-height: 800px; background-image: url('/Content/image/IMG1.png'); padding-top: 50px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3"></div>
                <div class="col-sm-6" style="padding:10px; background:transparent; border-radius:10px">
                    <div class="box">
                        <h1 class="text-center" style="background-color:;">LOGIN</h1>
                        <hr style="">
                        <label for="">Email</label>
                        <input type="text" id="emil" placeholder="Enter email" class="form-control">
                        <br>
                        <label for="">Password</label>
                        <input type="text" id="pass" placeholder="Enter Password" class="form-control">
                        <br>
                        <input type="checkbox">Remember me
                        <br>
                        <input type="button" value="Login" class="btn btn-success" id="btnLogin">
                        <a href="#"><span style="color: green;text-align:right">Forget Password?</span></a>
                        <a href="/Login/Registration"><span>new registration</span></a>
                        <h5 style="text-align: center;">OR</h5>
                        <hr>
                        <p style="text-align:center">
                            <a href="#"><span class="fa fa-facebook" style="margin-left: 10px;font-size:40px; color:blue"></span></a>
                            <a href="#"><span class="fa fa-google" style="margin-left: 10px;font-size:40px;"></span></a>
                            <a href="#"><span class="fa fa-twitter" style="margin-left: 10px;font-size:40px;color:aqua"></span></a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>
    <script>
        $('#btnLogin').click(function () {
            var e = $('#emil').val();
            var p = $('#pass').val();
            $.ajax({
                type: 'post',
                url: '/Login/CheckData',
                data: { email: e, pass: p },
                success: function (data) {
                    if (data) {
                        alert("Login successful");
                        window.location = "/Home/Index"
                    } else {
                        alert("Login unsuccessful");
                    }
                }
            })

        })
    </script>
</body>
</html>
