
@{
    ViewBag.Title = "DeveloperTeam";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container-fluid">
    <h1 style="text-align: center; font-family:'Courier New', Courier, monospace;font-weight:bold;">My Team</h1>
    <hr style="border:3px solid green">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3">
                <img src="~/Content/imgm.jpg" style="height: 300px;width:100%">
            </div>
            <div class="col-sm-8" style="margin-left: 50px; text-align:center">
                <h2 style="font-family:fantasy;">Mahender tripathi</h2>
                <h4 style="font-family:serif;">(Team Leader)</h4>
                <h3 style="font-family:serif; font-weight:bold">College Name :</h3><p>(Goverment polytechnic kulpahad mahoba ppp mode up)</p>
                <h3 style="font-family:serif;font-weight:bold">Qualification:</h3><p style="font-family:serif;">Polytechnic Diploma in CUMPUTER SCIENCE AND ENGINEERING </p>
            </div>
        </div>
    </div>
    <hr style="border:3px solid green">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3">
                <img src="~/Content/image/rajesh.png" style="height: 300px; width:100%">
            </div>
            <div class="col-sm-8" style="margin-left: 50px; text-align:center">
                <h2 style="font-family:fantasy;">Rajesh Kumar</h2>
                <h4 style="font-family:serif;">(Project Manager)</h4>
                <h3 style="font-family:serif; font-weight:bold">College Name :</h3><p>(SVN COLLEGE OF POLYTECHINC KALAN SULTANPUR)</p>
                <h3 style="font-family:serif;font-weight:bold">Qualification:</h3><p style="font-family:serif;">Polytechnic Diploma in CUMPUTER SCIENCE AND ENGINEERING </p>
            </div>
        </div>
    </div>
    <hr style="border:3px solid green">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3">
                <img src="~/Content/image/deepak.jpg" style="height: 300px; width:80%">
            </div>
            <div class="col-sm-8" style="margin-left: 50px; text-align:center">
                <h2 style="font-family:fantasy;">Deepak Rajbhar</h2>
                <h4 style="font-family:serif;">(Junior Developer)</h4>
                <h3 style="font-family:serif; font-weight:bold">College Name :</h3><p>(SVN COLLEGE OF POLYTECHINC KALAN SULTANPUR)</p>
                <h3 style="font-family:serif;font-weight:bold">Qualification:</h3><p style="font-family:serif;">Polytechnic Diploma in CUMPUTER SCIENCE AND ENGINEERING </p>
            </div>
        </div>
    </div>
    <hr style="border:3px solid green">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3">
                <img src="akash.jpg" style="height: 300px;">
            </div>
            <div class="col-sm-8" style="margin-left: 50px; text-align:center">
                <h2 style="font-family:fantasy;">Akash Gupta</h2>
                <h4 style="font-family:serif;">(Advoicer)</h4>
                <h3 style="font-family:serif; font-weight:bold">College Name :</h3><p>(SVN COLLEGE OF POLYTECHINC KALAN SULTANPUR)</p>
                <h3 style="font-family:serif;font-weight:bold">Qualification:</h3><p style="font-family:serif;">Polytechnic Diploma in CUMPUTER SCIENCE AND ENGINEERING </p>
            </div>
        </div>
    </div>
    <hr style="border:3px solid green">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3">
                <img src="~/Content/image/rupa.jpg" style="height: 300px;">
            </div>
            <div class="col-sm-8" style="margin-left: 50px; text-align:center">
                <h2 style="font-family:fantasy;">Rupa Chauhan</h2>
                <h4 style="font-family:serif;">(Senior Developer)</h4>
                <h3 style="font-family:serif; font-weight:bold">College Name :</h3><p>(SVN COLLEGE OF POLYTECHINC KALAN SULTANPUR)</p>
                <h3 style="font-family:serif;font-weight:bold">Qualification:</h3><p style="font-family:serif;">Polytechnic Diploma in CUMPUTER SCIENCE AND ENGINEERING </p>
            </div>
        </div>
    </div>
    <hr style="border:3px solid green">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3">
                <img src="~/Content/image/anupam.jpg" style="height: 300px;">
            </div>
            <div class="col-sm-8" style="margin-left: 50px; text-align:center">
                <h2 style="font-family:fantasy;">Anupam Yadav</h2>
                <h4 style="font-family:serif;">(Junior Developer)</h4>
                <h3 style="font-family:serif; font-weight:bold">College Name :</h3><p>(SVN COLLEGE OF POLYTECHINC KALAN SULTANPUR)</p>
                <h3 style="font-family:serif;font-weight:bold">Qualification:</h3><p style="font-family:serif;">Polytechnic Diploma in CUMPUTER SCIENCE AND ENGINEERING </p>
            </div>
        </div>
    </div>
    <hr style="border:3px solid green">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3">
                <img src="~/Content/image/tannu.jpg" style="height: 300px;">
            </div>
            <div class="col-sm-8" style="margin-left: 50px; text-align:center">
                <h2 style="font-family:fantasy;">Tannu Seth</h2>
                <h4 style="font-family:serif;">(Junior Developer)</h4>
                <h3 style="font-family:serif; font-weight:bold">College Name :</h3><p>(SVN COLLEGE OF POLYTECHINC KALAN SULTANPUR)</p>
                <h3 style="font-family:serif;font-weight:bold">Qualification:</h3><p style="font-family:serif;">Polytechnic Diploma in CUMPUTER SCIENCE AND ENGINEERING </p>
            </div>
        </div>
    </div>

</div>


