
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container-fluid " style=" background-image: url('/Content/image/irewolede-PvwdlXqo85k-unsplash.jpg'); margin-top: -20px;">
    <div class="row" style="padding: 0px ;">
        <div class="col-sm-12" style="height: 500px; width: 100%; padding: 0px; margin-top: -20px ">
            <!--slider -->
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/Content/image/IMG1.png" style="height:500px;width:100%" />
                        <div class="carousel-caption">
                            <h1 style="color:white">Agriculture</h1>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Content/image/wilsan-u-BCATbA86WAw-unsplash.jpg" style="height:500px;width:100%" />
                        <div class="carousel-caption">
                            <h1 style="color:white">Agriculture</h1>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
    </div>
    <div class="row">
        <div class=" col-sm-12">
        </div>
    </div>
</div>
<div class=" container-fluid " style="background-color:forestgreen">

    <div class="row" style="padding:0px;">
        <div class="col-sm-12" style="background-image: url('/Content/image/irewolede-PvwdlXqo85k-unsplash.jpg')">
            <div class="col-sm-3">
                <a href="#" class="thumbnail hvr hvr-bounce-out" style="min-height:320px">
                    <img src="~/Content/image/kyaw-tun-2HrxgCa6Yq8-unsplash.jpg" style="height:320px;width:100%" />
                </a>

            </div>
            <div class="col-sm-6 hvr-bounce-out" style="border:3px solid white">
                <h1>Agriculture</h1>
                <p>Agriculture is the art and science of cultivating the soil, growing crops, and raising livestock. It includes the preparation of plant and animal products for people to use and their distribution to markets.</p>
                <p>Agriculture provides most of the world’s food and fabrics. Cotton, wool, and leather are all agricultural products. Agriculture also provides wood for construction and paper products.</p>
                <h1>कृषि</h1>
                <p>कृषि मिट्टी की खेती करने, फसलें उगाने और पशुधन बढ़ाने की कला और विज्ञान है। इसमें लोगों के उपयोग के लिए पौधे और पशु उत्पादों की तैयारी और बाजारों में उनका वितरण शामिल है।</p>
                <p>कृषि दुनिया के अधिकांश भोजन और कपड़े प्रदान करती है। कपास, ऊन और चमड़ा सभी कृषि उत्पाद हैं। कृषि निर्माण और कागज उत्पादों के लिए लकड़ी भी प्रदान करती है।</p>
            </div>
            <div class="col-sm-3">
                <a href="#" class="thumbnail hvr hvr-bounce-out" style="min-height:320px">
                    <img src="~/Content/image/kyaw-tun-2HrxgCa6Yq8-unsplash.jpg" style="height:320px ;width:100%"  />
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row" style="padding-left: 70px; padding-right: 70px;  background-color:forestgreen">

        <div class="col-sm-12">

            <div class="col-sm-4" style="padding-top:20px">
                <div class="thumbnail  hvr-buzz-out hvr-bounce-in" style="border-top-left-radius: 100px; border-bottom-right-radius:100px ">
                    <img src="~/Content/image/product1.jpeg" style="border-top-left-radius: 100px; border-bottom-right-radius: 100px;" class="">
                    <div class="caption">
                        <h3>Wheat Crop</h3>
                        <hr>
                        <b>About</b><p>Wheat is grown in a variety of soils of India. Soils with a clay loam or loam texture, good structure and moderate water holding capacity are ideal for wheat cultivation. Care should be taken to avoid very porous and excessively drained oils. Soil should be neutral in its reaction.</p>
                        <p><a href="#" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">click</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="padding-top:20px">
                <div class="thumbnail hvr-bounce-in" style="border-top-left-radius: 100px; border-bottom-right-radius:100px ">
                    <img src="~/Content/image/product2.jpeg" style="border-top-left-radius: 100px; border-bottom-right-radius: 100px;">

                    <div class="caption">
                        <h3>soil Testing</h3>
                        <p>
                            <b>What is a soil test?</b>
                            A soil test is a process by which elements (phosphorus, potassium, calcium, magnesium, sodium, sulfur, manganese, copper and zinc) are chemically removed from the soil and measured for their "plant available" content within the sample. The quantity of available nutrients in the sample determines the amount of . A soil test also measures soil pH, humic (organic) matter and exchangeable acidity.
                        </p>
                        <p><a href="#" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button"> click</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="padding-top:20px">
                <div class="thumbnail hvr-bounce-in" style="border-top-left-radius: 100px; border-bottom-right-radius: 100px;">
                    <img src="~/Content/image/product3.jpeg" style="border-top-left-radius: 100px; border-bottom-right-radius: 100px;" />
                    <div class="caption">
                        <h3>Growing Plants</h3>
                        <p>In the plant's life, the process of germination takes place which is responsible for a plant's growth. They also make food through the process of photosynthesis. Through all of this, a plant grows fully with leaves, flowers and fruits on it. All living beings are dependent on plants.A soil test also measures soil pH, humic (organic) matter and exchangeable acidity. </p>
                        <p><a href="#" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Click</a></p>
                    </div>
                </div>
            </div>
        </div>
        <hr style="border:3px dotted white">
        <div class="row">
            <div class="col-sm-12">
                <h1 style="color:white;padding-left:20px">Fruits</h1>
                <hr style="border:3px dotted white">
                <div class="col-sm-4">
                    <div class="thumbnail hvr-bounce-in" style="border-top-left-radius: 100px; border-bottom-right-radius: 100px;">
                        <!-- for image section-->
                        <img src="~/Content/image/james-yarema-P2X7NDx_GP0-unsplash.jpg" style="border-top-left-radius: 100px; border-bottom-right-radius: 100px;" />
                        <div class="caption">
                            <h3>Apple Fruits</h3>
                            <p>In the plant's life, the process of germination takes place which is responsible for a plant's growth. They also make food through the process of photosynthesis. Through all of this, a plant grows fully with leaves, flowers and fruits on it. All living beings are dependent on plants.A soil test also measures soil pH, humic (organic) matter and exchangeable acidity. </p>
                            <p><a href="#" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Click</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail hvr-bounce-in" style="border-top-left-radius: 100px; border-bottom-right-radius: 100px;">
                        <!-- for image section-->
                        <img src="~/Content/image/eugene-kuznetsov-lcifsG6aPPs-unsplash.jpg" style="border-top-left-radius: 100px; border-bottom-right-radius: 100px;" />
                        <div class="caption">
                            <h3>Grapes</h3>
                            <p>In the plant's life, the process of germination takes place which is responsible for a plant's growth. They also make food through the process of photosynthesis. Through all of this, a plant grows fully with leaves, flowers and fruits on it. All living beings are dependent on plants.A soil test also measures soil pH, humic (organic) matter and exchangeable acidity. </p>
                            <p><a href="#" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Click</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail hvr-bounce-in" style="border-top-left-radius: 100px; border-bottom-right-radius: 100px;">
                        <!-- for image section-->
                        <img src="~/Content/image/jeremy-horvatin-B-3IlfASgq4-unsplash.jpg" style="border-top-left-radius: 100px; border-bottom-right-radius: 100px;" />
                        <div class="caption">
                            <h3>Watermelon</h3>
                            <p>In the plant's life, the process of germination takes place which is responsible for a plant's growth. They also make food through the process of photosynthesis. Through all of this, a plant grows fully with leaves, flowers and fruits on it. All living beings are dependent on plants.A soil test also measures soil pH, humic (organic) matter and exchangeable acidity. </p>
                            <p><a href="#" class="btn btn-primary" role="button">More</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <h1 style="padding-left:140px;">Introduction</h1>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-1"></div>
            <div class="col-sm-6">
                <p>India is one of the major players in the agriculture sector worldwide and it is the primary source of livelihood for ~55% of India’s population. India has the world's largest cattle herd (buffaloes), the largest area planted for wheat, rice, and cotton, and is the largest producer of milk, pulses, and spices in the world. It is the second-largest producer of fruit, vegetables, tea, farmed fish, cotton, sugarcane, wheat, rice, cotton, and sugar. The agriculture sector in India holds the record for second-largest agricultural land in the world generating employment for about half of the country’s population. Thus, farmers become an integral part of the sector to provide us with a means of sustenance.</p>
                <p>Consumer spending in India will return to growth in 2021 post the pandemic-led contraction, expanding by as much as 6.6%. The Indian food industry is poised for huge growth, increasing its contribution to world food trade every year due to its immense potential for value addition, particularly within the food processing industry. The Indian food processing industry accounts for 32% of the country’s total food market, one of the largest industries in India and is ranked fifth in terms of production, consumption, export and expected growth.</p>
            </div>
            <div class="col-sm-4" style="height: 325px;border:1px solid wheat;padding:10px">
                <img src="~/Content/image/guru-moorthy-gokul-CafUwEdSoAQ-unsplash.jpg" style="height:300px;width:100%" />
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</div>
<div class="container-fluid bg-warning" style="margin-top:50px">
    <div class="row" style="padding-top: 50px;">
        <h1 style="padding-left:150px ;">MARKET SIZE</h1>
        <hr>
        <div class="col-sm-12">
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <img src="~/Content/image/Agricultural.jpg" style="height: 400px;padding-top:10px;">

            </div>
            <div class="col-sm-6" style="height: 400px;padding-top:10px;margin-left:20px">
                <p>According to Inc42, the Indian agricultural sector is predicted to increase to US$ 24 billion by 2025. Indian food and grocery market is the world’s sixth largest, with retail contributing 70% of the sales. India’s agricultural and processed food products exports stood at US$ 43.37 billion in FY23 (April 2022-January 2023). As per Second Advance Estimates for 2022-23 (Kharif only), total foodgrain production in the country is estimated at 153.43 million tonnes. At current prices, agriculture and allied sectors account for 18.3% of India's GDP (2022-23). As per the third Advance Estimates of National Income, 2021-22 released by the National Statistical Office (NSO), Ministry of Statistics & Programme Implementation, the agriculture and allied sectors contributed approximately 18.6 % of India's GVA at current prices during 2021-22. Between April 2000-December 2022, FDI in agriculture services stood at US$ 4.43 billion</p>
                <p>Rapid population expansion in India is the main factor driving the industry. The rising income levels in rural and urban areas, which have contributed to an increase in the demand for agricultural products across the nation, provide additional support for this. In accordance with this, the market is being stimulated by the growing adoption of cutting-edge techniques including blockchain, artificial intelligence (AI), geographic information systems (GIS), drones, and remote sensing technologies, as well as the release of various e-farming applications.</p>

            </div>
            <div class="col-sm-1"></div>

        </div>
    </div>
</div>